DATABASE_URL=postgresql://anantbuy:AnantBuy123@postgres:5432/anantbuy_db

DB_HOST=postgres
DB_PORT=5432
DB_NAME=anantbuy_db
DB_USER=anantbuy
DB_PASSWORD=AnantBuy123

SECRET_KEY=change_me

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

